/* temp: for wpbase2 */
.home.blog article.post.type-post {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 1.25rem;

    margin: 1rem auto;

    .entry-header {
        margin-bottom: 1.25rem;
    }

    .entry-title {
        margin-bottom: .75rem;
        font-size: 1.25rem;
    }

    .entry-title a {
        color: #000;
        text-decoration: none;
    }

    .entry-content {
        flex: 1 1 auto;
        margin: 0;
        font-size: 1rem;
        color: #6c757d;
    }

    .entry-footer {
        padding-top: 1.25rem;
        border-top: 1px solid rgba(0, 0, 0, .125);
    }

    .entry-footer a {
        color: #6c757d;
        text-decoration: none;
    }
}

.site-container {
    /* .sticky-footer */
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & main {
        flex-grow: 1;
        width: 100%;
    }

    & footer {
        margin-top: auto;
    }
}

/* .site-main {
    width: 100%;
    max-width: 1024px;
    margin: 3rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
} */

/* elementor override */
/* .elementor-page .site-main {
    max-width: unset;
    margin: unset;
    padding: unset;
} */